<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzq.mapper.TransactionMapper">
    <select id="getFlowKey" resultType="string">
        select flow_key from transaction where id = #{id}
    </select>

    <insert id="insert" parameterType="com.dzq.entity.Transaction">
        insert into transaction(tenant_id,flow_key,node_key,deploy_version)values
        (#{tenantId},#{flowKey},#{nodeKey},#{deployVersion})
    </insert>
</mapper>